[submodule "lib/python-markdown"]
	path = lib/python-markdown
	url = git://gitorious.org/python-markdown/mainline.git
[submodule "lib/jinja"]
	path = lib/jinja
	url = git://github.com/clones/jinja2.git
