<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="copyright license" href="http://creativecommons.org/licenses/publicdomain/">
        <link rel="stylesheet" type="text/css" href="http://static.philosophic.li/philosophic.css"> 

        <title>{{ title }}{% if subtitle is not none %}: {{ subtitle }}{% endif %}</title>
    </head>
    <body class="">
        <h1><a href="./">{{ title }}</a></title></h1>
        {% if subtitle is not none %}
        <h2>{{ subtitle }}</h2>
        {% endif %}
        <address class="vcard author">
            <span class="fn">{{ author }}</span>
            {% if translator is not none %}
            <span class="translator">Translated from the original {{ language }} by {{ translator }}</span>
            {% endif %}
        </address>

        <div class="entry-content">
            {{ text }}
        </div>
        <div class="meta">
            {{ metadata }}
            <p class="rights">This work is in <a rel="copyright license" href="http://creativecommons.org/licenses/publicdomain/">the public domain</a>.</p>
            <p>Go back to the <a href='/'>list of texts</a>.
        </div>
    </body>
</html>
<!--
#   vim: filetype=jinja
-->
